

*{
    padding:0;
    margin:0;
    overflow:hidden;

}




.main{
    background-color:rgb(195, 105, 105);

    display:grid;


    grid-area:main;

   grid-template-columns: auto auto auto auto auto auto auto auto ;
    
    
    


}
.main2{
 
 grid-area:main2;

 display:grid;

 grid-template-columns:  auto auto auto auto auto auto auto auto;






}

#boxMain,#boxMain2{
    background-color: #484868;
   

    border:2px solid rgb(53, 48, 48);



    
}
.container{
    background-color:rgb(53, 46, 46);
   
    grid-area:container;


    
}

.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.control{
    display:grid;
    grid-template-areas: 
    'header header header header'
    'main main main2 main2'
    'main main main2 main2'
    'main main main2 main2'
    'footer footer footer footer';
    
   
    
    height:100vh;
    background-color:rgb(64, 58, 58);
    gap:2vw;


}